#row-title {
  margin-bottom: 20px;
}

#row-category {
  margin-bottom: 40px;
}

#row-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-add-new {
  display: flex;
  justify-content: flex-end;
}
